:root{
   --text-active:#2196F3;
   --text-header:#212121;
   --background-section:#ffffff;
   --color-text:#757575;
}
body{
   background-color: var(--background-section);
   font-family: 'Roboto',sans-serif;
}

/* что бы убрать точки (класс списка)*/
.list{
   list-style: none;
   }
/*что бы убрать подчеркивание у ссылок(на ссылки)*/
.link{
   text-decoration: none;
}
.button{
   color: var(--text-active);
}
.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px; }
/*line-height:1.33*/
                              /*Шапка*/
.header{
   background-color: var(--background-section);
}
.logo{
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 26px;
   line-height: 1.38;
   color:var(--text-header);
}
.web-logo{
   color: var(--text-active);
}
.site-nav-link{
   font-weight: 500;
   font-size: 14px;
   line-height: 1.2;
   color: var(--text-header);
}
.site-nav-link:hover,
.site-nav-link:focus{
   color: var(--text-active);
}
.contacts{
   font-weight: 500;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--color-text)
}
.contacts:hover,
.contacts:focus,
.footer-contacts{
   color: var(--text-active);
}

                        /*footer*/

.footer-content{
   background: #2F303A;
}
.studio-logo{
   color: var(--background-section);
}
.location{
   color: var(--background-section);
}
.address-item{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   
}
.footer-contacts{
   color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover,
.footer-contacts:focus{
   color: var(--text-active);
}
                              /*cервисы 1cтр*/






            /*заказать услугу*/



.title-part{
   background-color: #2F303A;
}
.title-business{
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;   
   color: var(--background-section);
}
.button{
   background: var(--text-active);
   font-weight: 700;
   font-size: 16px;
   line-height:1.85;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   color: var(--background-section);
   font-family: inherit;
   cursor: pointer;
}

         /*заголовки и текст*/


.section-advanteges,
.section-services{
   background: #ffffff;
}
.main-title{
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--text-header);
}
.main-text{
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: var(--color-text);

}
.title-employment{
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--text-header);
}

               /*наша команда фото*/


.our-team-section{
   background: #F5F4FA;
}
.name-developer{
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--text-header);
}
.text-foto-team{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--color-text);
}



                                 /*страница 2*/


.button-filter:focus,
.button-filter:hover{
   color: var(--background-section);
   background-color: var(--text-active )
}
.button-filter{
   font-family:inherit;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--text-header);
   cursor: pointer;
   }
                                 /*секция фото*/
.works-text-box {
   font-weight: bold;
   font-size: 18px;
   line-height: 2.0;
   letter-spacing: 0.06em;
   color: var(--text-header);
}
.text-caption{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.8;
   letter-spacing: 0.03em;
   color: var(--color-text);
}